data/otto-recommender-system/
data/otto-recommender-system-tidy-data/
data/otto-train-and-test-data-for-local-validation/

src/baseline/validation_predictions.csv
src/baseline/test_predictions.csv

**/__pycache__/